{% extends "network/layout.html" %}

{% block body %}
    <h2>{{ page_title }}</h2>
    {% if user.is_authenticated and post_form %}
        <div class="card mb-3">
            <div class="card-body">
                <h5>New post</h5>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ post_form.as_p }}
                    <input type="submit" class="btn btn-outline-primary" value="Add new Post">
                </form>
            </div>
        </div>
    {% endif %}
    {% for post in posts %}
        {% include "network/post-item.html" %}
    {% empty %}
        <p>No posts yet</p>
    {% endfor %}
{% endblock %}