<div class="post card mb-3 py-2">
    <div class="card-header border-0 bg-transparent">
        <p class="float-start mb-0"><a href="{% url 'user_profile' post.author.id %}"><b>{{ post.author }}</b></a></p>
        {% if request.user.id == post.author.id %}
            <p class="edit-post float-end mb-0">
                <a class="edit-post-btn" href="{% url 'edit_post' post.id %}">
                    <i class="fa-solid fa-pen text-primary"></i>
                </a>
                <a class="save-post-btn" href="{% url 'edit_post' post.id %}" style="display: none;">
                    <i class="fa-solid fa-floppy-disk text-success"></i>
                </a>
                <a class="cancel-post-btn" href="" style="display: none">
                    <i class="fa-solid fa-xmark text-danger"></i>
                </a>
            </p>
        {% endif %}
    </div>
    <div class="card-body post-body">
        <p class="mb-0 post-body-content">{{ post.body }}</p>
        <textarea class="post-body-content-editable form-control">{{ post.body }}</textarea>
    </div>
    <div class="card-footer border-0 bg-transparent">
        <p class="float-start mb-0">
            {% if user.is_authenticated %}
                <a href="{% url 'like_post' post.id %}" class="like-post-btn">
                    {% if post in user.posts_liked.all %}
                        <i class="fa-solid fa-heart text-danger"></i>
                    {% else %}
                        <i class="fa-regular fa-heart text-danger"></i>
                    {% endif %}
                </a>
            {% else %}
                <i class="fa-solid fa-heart text-danger"></i>
            {% endif %}
            <span class="likes-count">{{ post.like.all.count }}</span>
        </p>
        <p class="float-end mb-0 text-secondary">{{ post.created_at }}</p>
    </div>
</div>