{% extends "network/layout.html" %}

{% block body %}
    {% if profile_user.get_full_name %}
        <h2>{{ profile_user.get_full_name }}</h2>
    {% else %}
        <h2>{{ profile_user.username }}</h2>
    {% endif %}
    <div>
        <p>{{ following }} following</p>
        <p class="followers-count">{{ followers }} follower{{ followers|pluralize }}</p>
        {% if user.is_authenticated and not request.user.id == profile_user.id %}
            <a href="{% url 'user_follow' %}" id="follow-btn" class="mb-3 btn btn-outline-primary" data-id="{{ profile_user.id }}"
               data-action="{% if request.user in profile_user.followers.all %}un{% endif %}follow">
                {% if request.user in profile_user.followers.all %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </a>
        {% endif %}
    </div>
    {% for post in posts %}
        {% include "network/post-item.html" %}
    {% endfor %}
{% endblock %}