.edit-post a:hover .text-secondary {
    color: black !important;
}

.post .fa-heart {
    margin-right: 4px;
}

.post .fa-heart:hover {
    cursor: pointer;
}

.post-body {
    position: relative;
}

.post-save-notification {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    color: white;
    padding: 12px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-body-content {
    padding: 6px 9px 1px;
}

.post-body-content-editable {
    display: none;
    box-sizing: border-box;
    padding: 5px 8px 0;
    width: 100%;
}

.edit-post a {
    text-decoration: none;
}

.save-post-btn {
    margin-right: 12px;
}

.like-post-btn {
    text-decoration: none;
}